.bg{
    background-color: #FCEAE8;
}
.category, .subscribe{
    border-radius: 5px;
    background-color: #E83A59;
    padding: 9px 50px;
    border: none;
    box-shadow: #E83A59;
}

.subscribe-container{ 
background-color:  #FCEAE8;
}
footer{
    text-align: center;
}
footer p{
    font-size: .8rem;
}